<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Productos Con EJS</h1>
    <% if (!products.length) { %>
    <h1>No se encuentra ningun producto</h1>
    <% } else { %>
    <table>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Foto</th>
        <% products.forEach(product =>{ %>
            <tr>
                <td><%= product.tittle %></td>
                <td><%= product.price %></td>
                <td><img width="50" height="50" src="<%= product.thumbnail %>" alt=""> </td>
            </tr>
        <% }) %>
    </table>
    <% } %>
    <a href="/">Volver</a>
</body>
</html>